/* global-säännöt */
* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}
/* väripaletit */
:root {
  --c1: #001553;
  --c1-darker: #000821;
  --c2: #faf9fb;

  --c3: #01941c;
  --c3-darker: #006b1449;
  --c4: #00ee2c;
}

body {
  color: var(--c2);
}

section {
  min-height: 90vh;
  max-width: 100vw;
}

html {
  font-size: 62.5%;
}

/* tässä tapauksessa .home on vain värikoneen backgroundi ja pohjus */

.home {
  max-height: 100vh;
  min-height: 100vh;
  background-color: var(--c2);
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%23006b14' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E");
  display: flex;
  position: relative;
}

<<<<<<< HEAD
.kone {
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--c3);
  margin: 5%;
  border-radius: 50px;
}
.boxi {
  display: flex;

  padding: 1rem;
  flex-direction: column;
}

.boxi img {
  width: 75%;
  min-width: 75%;
  height: 65%;
  background: #dd4132;
  margin-left: 2vw;
  transition: 0.5s;
  border-radius: 10px;
}

.boxi2 {
  flex-direction: column;
  display: flex;
}

.boxi2 img {
  width: 75%;
  height: 65%;
  min-width: 75%;
  background: #dd4132;
  border-radius: 10px;
  transition: 0.5s;
}
.boxi2 .napit {
  display: flex;
  max-width: 65%;
  flex-wrap: wrap;
  margin-top: 2vh;
  gap: 1rem;
}

.boxi2 .napit button {
  padding: 0.4rem 1rem;
  border-radius: 7px;
  font-size: 1.5rem;
  cursor: pointer;
}

.boxi .napit {
  display: flex;
  max-width: 65%;
  flex-wrap: wrap;
  margin-top: 2vh;
  gap: 1rem;
  margin-left: 2vw;
}

.napit button {
  padding: 0.4rem 1rem;
  border-radius: 7px;
  font-size: 1.5rem;
  cursor: pointer;
}

.napit button:hover,
.boxi2 .napit button:hover {
  background: var(--c3);
}

/* navbar rääsät */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 20px var(--c3-darker);
  background: var(--c2);
  z-index: 100;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  font-size: 16px;
  margin-left: 10px;
  font-weight: bold;
  color: var(--c3);
}

.logo .logo {
  width: 46px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
=======



>>>>>>> 8755d24f347c8928a01269575c10ffaac66b04dd

.menu a {
  font-weight: 700;
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  transition: 0.2s all ease-in-out;
  color: var(--c3);
}

<<<<<<< HEAD
#btn {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  transition: 0.2s all ease-in-out;
  color: var(--c2);
  font-weight: 600;
  border: 2px solid var(--c3);
  border-radius: 7px;
  background: var(--c3);
}

.menu a:hover {
  opacity: 0.7;
=======
.kone-box {
  display: flex;
  flex-direction: column; 
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%; 
  max-width: 70rem; 
  border: 2px solid rgba(0, 238, 59, 0.502);
  box-shadow: 2px 2px 20px rgb(2, 110, 51);
  
  border-radius: 20px;
}


.värit {
  height: 50rem;
  text-align: center;
  background: rgba(1, 153, 52, 0.089);
  background-image: url(Public/Images/pattern.svg);
  backdrop-filter: blur( 9px );
  -webkit-backdrop-filter: blur( 9px );
}
.kone-box img {
  width: 100%; 
  transition: 0.5s ease;
  object-fit: cover; 
  box-shadow: 2px 2px 20px rgba(0, 255, 64, 0.685);
>>>>>>> 8755d24f347c8928a01269575c10ffaac66b04dd
}

#btn:hover {
  background: var(--c2);
<<<<<<< HEAD
  color: var(--c3);
  opacity: 1;
  transition-duration: 0.5s;
}

.menu-icon {
  display: none;
=======
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur( 9px );
}

.värit p {
  color: var(--c3);
  font-size: 2rem;
  margin-top: 2rem;
}




.otsikko h2 {
    font-size: 2rem;
>>>>>>> 8755d24f347c8928a01269575c10ffaac66b04dd
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background-color: var(--c2);
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: var(--c3);
    font-size: 28px;
    cursor: pointer;
  }
<<<<<<< HEAD
=======
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }
  


  @media (max-width: 1280px) {
    .kone-box {
      max-width: 40rem;
    }

  }

  @media only screen and (max-width: 950px) {
    .menu {
      flex-direction: column;
      background-color: var(--c2);
      align-items: start;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .menu 
    a {
      margin-left: 12px;
    }

  
    .menu li {
      margin-bottom: 10px;
    }
  
    .menu-icon {
      display: block;
      color: var(--c3);
      font-size: 28px;
      cursor: pointer;
    }
>>>>>>> 8755d24f347c8928a01269575c10ffaac66b04dd
}

@media (max-width: 768px) {
  .kone-container {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 5vh;
}

  

  .boxi2 img,
  .boxi img {
    width: 100%;
    margin-top: 5vh;
  }

  .napit button,
  .boxi2 .napit button {
    padding: 0.2rem 0.75rem;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
  }
}

<<<<<<< HEAD
@media (max-width: 617px) {
  .kone-box {
    max-height: 70vh;
    width: 95vw;
  }
}
=======
>>>>>>> 8755d24f347c8928a01269575c10ffaac66b04dd
